body{
    padding: 0px;
    margin: 0px;
    
}
.header {
    background: rgb(33, 11, 65);
    display: flex;
    padding: 20px 100px;
    
}
.left_logo_content img {
    max-width: 100px;
    min-height: 100px;
}
.right_navbar_content {
    display: flex;
    align-items: center;
}
.right_navbar_content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: initial;
    width: 52%;
    margin: auto;
}
.right_navbar_content a {
    text-decoration: none;
    color: rgb(249, 246, 249);
    font-size: 22px;
}
.main_content {
    padding: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.boxes{
width: 300px;
background: rgb(70, 67, 67);
padding: 30px 30px;
color: white;

}
.footer {
    background-color:rgb(33, 11, 65);
    /* height: 100px; */
    padding: 1px 0px;
    text-align: center;
    color: beige;
}